<div class="show-bar-header">
  <h1>Edit Bar</h1>
</div>

<div class="bar-show-page">
  <div class="form">
    <%= form_for [@neighborhood, @bar] do |f| %>
      <p><%= f.label :name %></p>
      <p><%= f.text_field :name %></p>
      <p><%= f.label :category %></p>
      <p><%= f.text_field :category %></p>
      <p><%= f.label :music %></p>
      <p><%= f.text_field :music %></p>
      <p><%= f.label :price_meter %></p>
      <p><%= f.text_field :price_meter %></p>
      <p><%= f.label :image_url %></p>
      <p><%= f.text_field :image_url %></p>
      <p><%= f.label :description %></p>
      <p><%= f.text_area :description %></p>
      <p><%= f.hidden_field(:neighborhood_id, value: @neighborhood.id) %></p>
      <p><%= f.submit "Submit", :class => "bars-button" %></p>
    <% end %>
  </div>
</div>
