<div class="show-bar-header">
  <h1><%= @bar.name %></h1>
</div>

<div class="bar-show-page">
  <%= image_tag @bar.image_url, class: "bar-show-image" %>
  <p><strong>Neighborhood:</strong> <%= @neighborhood.name %></p>
  <p><strong>Category:</strong> <%= @bar.category %></p>
  <p><strong>Music:</strong> <%= @bar.music %></p>
  <p><strong>Price:</strong> <%= @bar.price_meter %></p>
  <p><strong>Description:</strong> <%= @bar.description %></p>
  <p><strong>Created by:</strong> <%= @bar.user.email %> </p>
  <div class="bars-show-footer">
    <%= link_to 'Edit Bar', edit_neighborhood_bar_url(@neighborhood, @bar), class: "bars-button" %>
    <%= button_to 'Delete Bar', neighborhood_bar_url(@neighborhood, @bar),
                      method: :delete, class: "bars-button" %>
    <p><strong>Note:</strong> With great power comes great responsibility. Please do not delete unless you have a good reason to to do.</p>
  </div>
</div>
