<div class="show-bar-header">
  <h1>New Neighborhood</h1>
</div>

<div class="bar-show-page">
  <div class="form">
    <%= form_for @neighborhood do |f| %>
      <p><%= f.label :name %></p>
      <p><%= f.text_field :name %></p>
      <p><%= f.label :metro_stop %></p>
      <p><%= f.text_field :metro_stop %></p>
      <p><%= f.label :image_url %></p>
      <p><%= f.text_field :image_url %></p>
      <p><%= f.submit "Submit", :class => "bars-button" %></p>
    <% end %>
  </div>
</div>
