<h2><%= @neighborhood.name %></h2>
<p>Metro Stop: <%= @neighborhood.metro_stop %></p>

<h2>Bars:</h2>
<% @bars.each do |bar| %>
  <h2><%= link_to bar.name, neighborhood_bar_path(@neighborhood, bar) %></h2>
  <%= image_tag bar.image_url %>
<% end %>

<p>Don't see the bar you're looking for? <%= link_to "Add bar", new_neighborhood_bar_url(@neighborhood) %>.</p>
